/*regole di reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 70%;
}

.container{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.col{

}

.card{
    width: 461px;
    height: 724px;
    

}

.card_imgcard{
    position: relative;

}

.card_sale {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: crimson;
    color: white;
    padding: 5px;

}

.card_quality {
    position: absolute;
    bottom: 40px;
    left: 50px;
    background-color: green;
    color: white;
    padding: 5px;

}

.text_model{
    font-weight: bold;
}

.text_price_grey{
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
}

.text_price_red{
    font-size: 14px;
    color: red;
    font-weight: bold;

}
